- content_for :main_menu, render(:partial => "shared/main_menu")
- content_for :sidebar, render(:partial => "shared/sidebar")
- content_for :title, "за нас - "

.span-16.page-content.last{:align => "justify"}
  %h3 за нас
  %p ... не знам как да започна... честна дума! 
  %p ... но все пак... щом сте попаднали тук и четете тези редове, значи сте поне средно активни хора и не ви трябват празни приказки... 
  %p така или иначе всичко, което знаете, подозирате или в което вярвате е написано... някъде... 
  %p например аз – някога подочух това онова, по биология и химия, малко и по физика, вече имам интернет и телевизия, та за това не ходя на църква и не се моля... 
  %p но пък вас мога да помоля – ЧЕТЕТЕ! и ако това, което ви даваме тук не ви харесва, потърсете нещо друго, но не спирайте да четете и да се ровите... 
  %p целта ни не е да ви направим потребители на поредната обречена губиделница, а да поговорим с вас, за да може заедно да се включим в случките, онези дребните, на които спряхме да обръщаме внимание... 
  да започнете отново да се гордеете с истинските неща!
  %br 
  да се усмихвате повече!
  %br 
  да се обличате по-често в цветни дрехи! (ако това ви идва малко в повече, по-добре да не четете нататък)
  %br 
  да не падате, когато ви спъват! (да не ви спъват е най-добре)
  %br 
  да тичате, а не да бягате!
  %br 
  да не навеждате глава, когато можете да гледате напред!
  %br 
  искаме да гледате!
  %br 
  искаме да слушате!
  %br 
  да мислите!
  %br 
  да се ядосате!
  %br 
  да ви подсетим какво е да бъдеш пълноправен член на едно общество...
  %br 
  да се чувствате спокойни, че сте тук...
  %br 
  вкъщи. на сигурно място.
  %br 
  в любимата българия. и извън нея...
  %br
  %br 
  %p и ако трябва да ударите с юмрук по масата и да извикате “Аз съм човешко същество, мамка му! моят живот има стойност и смисъл!” (това е за малко по-силно емоционално заредените хора, не очакваме всеки втори да го направи). 
  %br 
  любов
  %br 
  до скоро