- content_for :main_menu, render(:partial => "shared/main_menu")
- content_for :sidebar, render(:partial => "shared/sidebar")

.span-16.page-content.last{:align => "justify"}
  ако сме успели предизвикаме вашия читателски интерес и се чувствате провокирани да споделите нещо с нас, може да се свържете с редакторския екип на helpus на e-mail адрес 
  %b 
    = link_to "team@helpus.bg", "mailto:team@helpus.bg"
  или да позвънете на телефон 
  %b (+359) 2 418 40 34
  .title-devider
  %h3 helpus team