= image_tag(@magazine.cover(:original), :id => "cover-image", :border => "0", :usemap => "#cover-map")

%map{:name => "cover-map"}
  - unless user_signed_in?
    %area{:alt => "Venus", :coords => "955,804,0,0", :border => '1', :href => user_root_path, :shape => "rect"}/
  - else
    %area{:alt => "Venus", :coords => "955,804,0,0", :border => '1', :href => user_root_path, :shape => "rect"}/
