- content_for :main_menu, render(:partial => "shared/main_menu")
- content_for :sidebar, render(:partial => "shared/sidebar")

.span-16.page-content.last{:align => "justify"}
  = raw @magazine.home_text.gsub(/\n/, '<br>')