- content_for :main_menu, render(:partial => "shared/main_menu")
- content_for :sidebar, render(:partial => "shared/sidebar")

.span-16.page-content.last{:align => "justify"}
  %p и така - вече сте регистрирани потребители на www.helpus.bg, съответно сте част от инициативата helpus.
  %p и за добре дошли – подарък! това списание... направо си е подарък! жалко, че не можем да ви накараме да си го купите... жалко, наистина! времената са такива... но пък никой от нас не иска нищо от вас... 
  %p освен може би от онези от вас, които могат да пишат (или поне така си мислят). от вас, колегите драскачи, искаме да кръстосате перата (моливите, клавиатурите, уотевър) в една спортсменска борба за месечната ни награда в рубриката „автор на месеца”.
  %p освен за притежаващите дар слово, удоволствието ще е и за тези, които просто обичат да се ровят и да си спомнят. в „хрониките на един изгубен град” ще става дума за нашата любима столица – софия.
  %p ежедневието българско е представено за вас от статиите и публикациите в рубриката „ежедневие”.
  %p в „галерия” – истории в кадри – казващи и много, и малко – на кой колкото му трябва и колкото може да вземе.
  %p светът е огромен и има толкова много хора. ние ще събеседваме с най-интересните от тях, а вие ще четете нашите интервюта.
  %p като казах света се сетих, че трябва да ви представим и 2011-3011. ако можеше светът да замръзне утре и само ние да останем в движение... може би само тогава можем да ги стигнем, нали тошко?! как го правят хората навън... как го правим ние... ние ви показваме това, което сме видели, покажете ни и вие! светът е голям...
  %p и карбовски е голям. за това ще говорим за него в първото издание на “tribute to”. 
  %p кЕтаеца е наш ъндърграунд другар, положителен герой е и редовно ще споделя своите отнесени и доста често утопични мисли с вас...
  %p пожелаваме ви приятни мигове с helpus!