%meta{:content => @model.title, :property => "og:title"}
%meta{:content => "article", :property => "og:type"}
%meta{:content => request["REQUEST_URI"], :property => "og:url"}
%meta{:content => "/images/helpus_logo_fb.jpg", :property => "og:image"}
%meta{:content => "helpus.bg", :property => "og:site_name"}
%meta{:content => "Този век е век на свободата!", :property => "og:description"}
%meta{:content => "143287365726502", :property => "fb:app_id"}