%h2 правила за коментиране

%p всеки потребител, който публикува мнения и коментари към статии на www.helpus.bg, се съгласява с общите условия за ползване на www.helpus.bg. уелдуърс оод не носи отговорност за достоверността, точността и полезността на потребителските мнения.
%h3 публикуване и коментари на мнения

%p за публикуване в сайтова се изисква потребителят да е регистриран. регистрацията е безплатна. 

%h3 правила за коментиране и модериране

модераторите на сайта имат право да скриват или изтриват мнения, когато те съдържат:
%ul
  %li спам или непоискани търговски съобщения;
  %li мнения, които не са по темата на материала, който коментират;
  %li нецензурни или вулгарни изрази, обиди на расова, сексуална, етническа или верска основа;
  %li призиви към расова дискриминация, етническа и религиозна нетърпимост, сексуална дискриминация или насилие;
  %li обидни описания на физически, интелектуални или морални качества на конкретни личности;
  %li порнографско съдържание или съдържание, нарушаващо авторските права;
  %li лични данни според закона за защита на личните данни.
  
%p потребители, които системно публикуват някое от горните типове съдържание, могат да загубят временно или постоянно възможността си за публикуване на мнения.
%p при докладването на мнение посредством e-mail съобщение на team@helpus.bg потребителите могат да ускорят процеса по модерация. при получаване на такава заявка, модераторите на сайта разглеждат посоченото мнение с приоритет.

модераторите не могат:
%ul
  %li да променят текст в мненията
  %li да скриват, затварят или изтриват коментари, мнения или части от мнения, ако те не съдържат никое от гореизброените типове съдържание
  %li да дават оценка, лично мнение или да изразяват пристрастие към даден потребител или дискутирана тема.

%p ако потребител на сайта сметне, че модераторите нарушават негови права или горните правила, може да напише официално възражение. след постъпване на такова възражение, то се разглежда от трима представители на уелдуърс оод, които дават официалното становище на групата. 


