%h2 условия за използване на услугите на www.helpus.bg
%p моля прочетете внимателно настоящите общи условия преди да използвате сайта. тези общи условия имат силата на договор между вас и уелдуърс оод, с който получавате правото да използвате безплатно услугите на сайта www.helpus.bg за лични и нетърговски цели, при спазване на условията по-долу. чрез достъпа до (зареждането на) интернет страницата, вие се съгласявате да бъдете обвързани от настоящите общи условия и всички последващи промени в тях, както и всички други условия, поставени от законодателството на република българия и международното законодателство, дори и да не са упоменати в настоящите условия. в случай, че не сте съгласни с всички общи условия по-долу, моля не използвайте този сайт.
%p уелдуърс оод си запазва правото да ревизира настоящите условия по всяко време и без предварително известие, като публикува допълненията и измененията в сайта.

%h3 I. основни понятия
%p по смисъла на настоящите общи условия изброените понятия са използвани със следното значение:
%p „доставчик” на услугите, предоставени от сайта, е дружество уелдуърс оод,  регистрирано по търговския закон на република българия, със седалище и адрес на управление: гр. софия, район триадица, ж.к. гоце делчев, бл. 239, вх. а, ет. 3, ап. 8. 
%p "потребител" е всяко физическо лице, което използва услугите, предоставени от сайта.

"услуга/и" на сайта включват:
%ul 
  %li създаване и персонализация на потребителски профили посредством  регистрация или посредством fconnect (директен достъп чрез профила на съответния потребител в социалната мрежа facebook), което дава възможност за достъп до информационните ресурси и архива на сайта;
  %li достъп до предоставяните през уеб браузър информационни ресурси/данни на сайта;
  %li участие в коментарите на сайта;
  %li получаване на email – бюлетини от регистрираните потребители на сайта.
  
%p "партньор" е всяко лице, с което уелдуърс оод се намира в договорни отношения, което има право да предоставя на регистрираните потребители на сайта допълнителна информация за предоставяни от партньорите стоки и услуги.
%p "злонамерени атаки на трети лица" – действия или бездействия на трети лица, които са в противоречие с правилата на интернет етиката, в това число, но не само dos (denial of service - претоварване на сървъра), проникване в сървъра, deface, кражба на данни и др.

%h3 II. общи разпоредби 
%p настоящите общи условия имат обвързващо действие само в отношенията между вас като потребител на услугите на сайта и уелдуърс оод като доставчик.
%p вие получавате правото да използвате услугите на сайта единствено за лични/нетърговски цели. при добавяне на мнение/коментар към публикациите, вие се съгласявате да спазвате правилата за писане на коментари. уелдуърс оод не носи отговорност за изразените от вас мнения.

%h3 III. авторски права
%p всички права са запазени. всички права на интелектуална собственост върху информационните ресурси и материали, публикувани на сайта са обект на закрила по действащия закон за авторското право и сродните му права, а нерегламентираното им използване представлява закононарушение и влече гражданска, административно-наказателна и наказателна отговорност в съответствие с действащото българско законодателство.

%h3 IV. конфиденциалност
%p уелдуърс оод се ангажира да гарантира неприкосновеността на информацията, съдържаща лични данни, предоставяна от потребителите онлайн посредством попълнени заявки за регистрация. разкриване е възможно единствено в случаите когато информацията е изискана от държавни органи или длъжностни лица, оправомощени със закон да изискват и събират информация съдържаща лични данни и при спазване на нормативно установения ред.
%p уелдуърс оод може да предоставя събраната статистическа информация за посещаемостта на сайта на рекламодатели/рекламни агенции, които водят статистика за кликванията върху техните рекламни банери и линкове, да изготвя вътрешни статистики, както и за целите на директния маркетинг (своите и на партньори).
%p с приемането на настоящите общи условия, потребителят се съгласява с обработването на данните му за целите на директния маркетинг. потребителят има право да възрази срещу обработването на личните му данни за целите на директния маркетинг, като изпрати електронно съобщение до уелдуърс оод на посочения e-mail адрес за контакти.

%h3 V. ограничаване на отговорността
%p уелдуърс оод прави всичко възможно, за да поддържа на сайта си вярна и актуална информация, без това да изключва възможността инцидентно да възникват обективни несъответствия или пропуски. уелдуърс оод не носи отговорност за последиците, в т.ч. евентуални вреди, породени от или свързани по какъвто и да е начин с достъпа, употребата или невъзможността за употреба на този сайт. цялата информация на сайта се предоставя в съответствие с действащото българско законодателство, без гаранция от страна на уелдуърс за нейната ненакърнимост и безопасност от злонамерени атаки на трети лица.
%p уелдуърс оод не носи отговорност за субективните възприятия и интерпретация на точността, пълнотата и полезността на информационните ресурси на този сайт.
%p уелдуърс оод не носи отговорност за информацията (в т.ч. за нейната пълнота и достоверност), съдържаща се в web сайтове, към които настоящият сайт съдържа препратки.
%p уелдуърс оод има право на обезщетение за всички вреди, разноски и претенции на трети лица, които са следствие от нарушение на тези общи условия и/или нерегламентирана употреба на услугите на сайта.

%h3 VI. услуги, изискващи регистрация
уелдуърс оод си запазва правото да предоставя достъп до определени услуги срещу задължителна регистрация. услугите са:
%ul
  %li достъп до архивите на helpus.bg, където потребителят може да разгледа архивни броеве на онлайн изданието;
  %li коментиране под статиите в изданието. коментирането под статии изисква потребителят да се спазва правилата за коментиране.
%p имате възможност да получите безплатен и пълен достъп до секциите от сайта, изискващи регистрация, ако си създадете индивидуален потребителски профил. във вашия профил, вие се задължавате да предоставяте пълна, вярна, истинска и точна информация.
%p уелдуърс оод си запазва правото да прецени дали да предостави профил /акаунт/ на потребителя, да отстрани или ограничи потребителски профили, които по своя преценка счита за неприемливи, както и в случай, че има основателни съмнения за нарушаване на настоящите общи условия.
%p уелдуърс оод си запазва правото да преустанови предоставянето на горепосочените безплатни услуги чрез публикуване на съобщение на сайта.
%p за всички неуредени с настоящите общи условия въпроси се прилага действащото българско законодателство.