- content_for :main_menu, render(:partial => "shared/main_menu")
- content_for :meta, render(:partial => "shared/meta")
- content_for :sidebar, render(:partial => "shared/sidebar")
- content_for :title, "#{@model.title} - "

= render "accents/type_#{@accent.view_type}"
