%p
  здравейте, #{@resource.email}!

%p
  получихме вашата заявка за смяна на паролата на профила ви в 
  = link_to "helpus.bg", "helpus.bg"
  \.
%p 
  просто кликнете 
  = link_to 'тук', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  или копирайте линка по-долу във вашия браузър:

%p= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p игнорирайте настоящото e-mail съобщение в случай, че не сте правили заявка за промяна на потребителската ви парола.

%p ако имате въпроси, можете да ни пишете на team@helpus.bg .

поздрави,
%br 
%b helpus team