!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title helpus.bg
    %link{:href => "http://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/images/helpus_icon.png", :rel => "icon", :type => "image/x-icon"}
    %link{:href => "/images/helpus_icon.png", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/images/helpus_icon.png", :rel => "bookmark", :type => "image/x-icon"}
    = stylesheet_link_tag "ie", "print", "screen", "application"
    /= formtastic_stylesheet_link_tag
    = javascript_include_tag "jquery-1.4.4", "application", "iepngfix_tilebg", "http://connect.facebook.net/bg_BG/all.js#xfbml=1"
    /= csrf_meta_tag
  %body{:onload => "fixCover();"}
    .wrap{:align => "center"}
      .span-24.last
        - show_flash
        = yield